<h1>Pipes</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Variable</th>
      <th scope="col">Pipe</th>
      <th scope="col">Producto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{nombre}}</td>
      <td> <strong>Upper</strong></td>
      <td>{{nombre | uppercase}}</td>
    </tr>
    <tr>
      <td>{{nombre}}</td>
      <td><strong>Lower</strong></td>
      <td>{{nombre | lowercase}}</td>
    </tr>
    <tr>
      <td>{{nombre}}</td>
      <td><strong>slice:0:3</strong></td>
      <td>{{nombre | slice:0:3}}</td>
    </tr>
    <tr>
      <td>{{PI}}</td>
      <td><strong>number:'1.0-2'</strong></td>
      <td>{{PI | number:'1.0-2'}}</td>
    </tr>
    <tr>
      <td>{{a}}</td>
      <td><strong>percent</strong></td>
      <td>{{a | percent}}</td>
    </tr>
    <tr>
      <td>{{salario}}</td>
      <td><strong>currency</strong></td>
      <td>{{salario | currency}}</td>
    </tr>
    <tr>
      <td>{{salario}}</td>
      <td><strong>currency:'COP'</strong></td>
      <td>{{salario | currency:'COP'}}</td>
    </tr>
    <tr>
      <td>{{salario}}</td>
      <td><strong>currency:'EUR':true</strong></td>
      <td>{{salario | currency:'EUR':true}}</td>
    </tr>
    <tr>
      <td>{{ValorPromesa}}</td>
      <td><strong>async</strong></td>
      <td>{{ValorPromesa |async}}</td>
    </tr>
    <tr>
      <td>{{fecha}}</td>
      <td><strong>Date</strong></td>
      <td>{{fecha|date:'longDate'}}</td>
    </tr>
    <tr>
      <td>{{nombre2}}</td>
      <td><strong>Capitalizado</strong></td>
      <td>{{nombre2|capitalizado:true}}</td>
    </tr>
    <tr>
      <td>{{nombre}}</td>
      <td><strong>Contrasena:{{activar}}</strong>
        <br>
        <button (click)='activar=!activar'type="button" click class="btn btn-outline-primary btn-block">Activar/Desactivar</button></td>
      <td>{{nombre|contrasena:activar}}</td>
    </tr>
  </tbody>
</table>

<div class="container">
  <h4>JSON</h4>
  <!-- esta etiqueta muestra en formato de objeto  -->
  <pre>{{heroe|json}}</pre>


</div>
